<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/suitcases"
        android:label="@string/app_name"
        android:roundIcon="@drawable/suitcases"
        android:supportsRtl="true">
        <activity
            android:name=".Login.SuksesLogAct"
           android:theme="@style/Login_sukses"/>
        <activity
            android:name=".Dashboard.SuksesAct"
            android:theme="@style/Dashboard" />
        <activity
            android:name=".Checkout.SuccsesTiketCheckout"
            android:theme="@style/sukses_membayar"/>
        <activity
            android:name=".Checkout.Checkout"
            android:theme="@style/checkout" />
        <activity
            android:name=".TiketDetail.TiketDetail"
            android:theme="@style/tiketDetail" />
        <activity
            android:name=".MenuWisata.JatimMenu"
            android:theme="@style/MenuJatim"/>
        <activity
            android:name=".MenuWisata.JogjaMenu"
            android:theme="@style/MenuJogja" />
        <activity
            android:name=".MyProfile.EditProfile"
            android:theme="@style/MyEditProfile"/>
        <activity
            android:name=".MyProfile.MyProfile"
            android:theme="@style/MyProfile"/>
        <activity
            android:name=".Login.Login"
            android:theme="@style/Login" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:theme="@style/Dashboard" />
        <activity
            android:name=".RegisterAkun.RegistrasiDua"
            android:theme="@style/Register_dua" />
        <activity
            android:name=".RegisterAkun.RegistrasiSatu"
            android:theme="@style/Register_satu" />
        <activity
            android:name=".GetStarted.GetStarted"
            android:theme="@style/Getstarted" />
        <activity
            android:name=".Splashscreen.Splashscreen"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>